-- ===================================================================
-- create test functions
-- ===================================================================
CREATE FUNCTION populate_temp_table(text, integer)
	RETURNS void
	AS 'pg_shard', 'PopulateTempTable'
	LANGUAGE C STRICT;
CREATE FUNCTION count_temp_table(text, integer)
	RETURNS integer
	AS 'pg_shard', 'CountTempTable'
	LANGUAGE C STRICT;
CREATE FUNCTION get_and_purge_connection(text, integer)
	RETURNS void
	AS 'pg_shard', 'GetAndPurgeConnection'
	LANGUAGE C STRICT;
-- ===================================================================
-- test connection hash functionality
-- ===================================================================
\set VERBOSITY terse
-- connect to non-existant host
SELECT populate_temp_table('dummyhost', $PGPORT);
WARNING:  Connection failed to dummyhost:$PGPORT
ERROR:  could not connect to dummyhost:$PGPORT
\set VERBOSITY default
-- try to use hostname over 255 characters
SELECT populate_temp_table(repeat('a', 256), $PGPORT);
ERROR:  hostnames may not exceed 255 characters
-- connect to localhost and build a temp table
SELECT populate_temp_table('localhost', $PGPORT);
 populate_temp_table 
---------------------
 
(1 row)

-- table should still be visible since session is reused
SELECT count_temp_table('localhost', $PGPORT);
 count_temp_table 
------------------
              100
(1 row)

-- purge existing connection to localhost
SELECT get_and_purge_connection('localhost', $PGPORT);
 get_and_purge_connection 
--------------------------
 
(1 row)

-- should not be able to see table anymore
SELECT count_temp_table('localhost', $PGPORT);
WARNING:  Bad result from localhost:$PGPORT
DETAIL:  Remote message: relation "numbers" does not exist
 count_temp_table 
------------------
                0
(1 row)

-- recreate once more
SELECT populate_temp_table('localhost', $PGPORT);
 populate_temp_table 
---------------------
 
(1 row)

-- kill backend to disconnect
SELECT pg_terminate_backend(pid)
	FROM pg_stat_activity
	WHERE application_name = 'pg_shard';
 pg_terminate_backend 
----------------------
 t
(1 row)

-- should get connection failure (cached connection bad)
SELECT count_temp_table('localhost', $PGPORT);
WARNING:  Bad result from localhost:$PGPORT
DETAIL:  Remote message: terminating connection due to administrator command
 count_temp_table 
------------------
                0
(1 row)

-- should get result failure (reconnected, so no temp table)
SELECT count_temp_table('localhost', $PGPORT);
WARNING:  Bad result from localhost:$PGPORT
DETAIL:  Remote message: relation "numbers" does not exist
 count_temp_table 
------------------
                0
(1 row)

